:root {
    --color-background: #111;
    --color-text-subtle: #999;
    --color-text: #eee;
    --font-family: -apple-system, Helvetica, sans-serif;
    --font-size-1: 1rem;
    --font-size-2: 3rem;
    --font-size-base: clamp(16px, 1.6vw, 18px);
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    --line-height-base: 1.4;
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 4rem;
    --transition-speed: 200ms;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --color-background: #eee;
      --color-text-subtle: #777;
      --color-text: #111;
    }
  }


